<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>
<!--<h2>User info</h2>-->
<!--<br>-->
<form method="POST" action="http://localhost:8080/users/saveUser" th:object="${user}">

  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name">
  <br><br>
  <label for="surname">Surname</label>
  <input type="text" th:field="*{surname}" id="surname">
  <br><br>
  <input type="submit" value="Add new user!">
</form>



</body>
</html>